## This project has too many errors to attempt to fix and run successfully. I have spent over 3 hours troubleshooting, and an hour with mentor. Moving on.

In [17]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.3.0)

In [19]:
import mysql.connector

# Database connection parameters
db_config = {
    'host': 'localhost',  # e.g., 'localhost' or an IP address
    'user': 'admin_springboard',  # your MySQL username
    'password': 'springboardbackup',  # your MySQL password
    'database': 'country_club',  # your database name, e.g., 'country_club'
}

# Connect to the MySQL database
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

# SQL commands to drop tables if they exist
sql_commands = """
DROP TABLE IF EXISTS Bookings;
DROP TABLE IF EXISTS Facilities;
DROP TABLE IF EXISTS Members;
"""

try:
    # Execute each SQL command from the multi-command string
    for command in sql_commands.strip().split(';'):
        if command:  # Make sure it's not an empty command
            cursor.execute(command)
    
    # Commit the changes to the database
    conn.commit()
    
    print("Tables dropped successfully.")
except mysql.connector.Error as e:
    print(f"An error occurred: {e}")
finally:
    # Close the connection
    cursor.close()
    conn.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [14]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('country_club.db')
cursor = conn.cursor()

# SQL command to delete all rows in the Bookings table
sql_query = "DELETE FROM Bookings;"

# Execute the SQL command
cursor.execute(sql_query)

# Commit the changes to the database
conn.commit()

print("All entries in the Bookings table have been cleared.")

# Close the connection
conn.close()

All entries in the Bookings table have been cleared.

In [15]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('country_club.db')
cursor = conn.cursor()

# Path to your .sql file
sql_file_path = "C:\\Users\\user\\Desktop\\GitHub Projects\\SQLFiles Tier 2\\country_club.sql"

# Read the SQL commands from the .sql file
with open(sql_file_path, 'r', encoding='utf-8') as sql_file:
    sql_script = sql_file.read()

# Execute the SQL commands
cursor.executescript(sql_script)

# Commit the changes
conn.commit()

# Close the connection
conn.close()

print("SQL script executed successfully.")

OperationalError: near "=": syntax error

In [6]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('country_club.db')
cursor = conn.cursor()

# SQL command to count the number of rows in the Bookings table
sql_query = "SELECT COUNT(*) FROM Bookings;"

# Execute the SQL command
cursor.execute(sql_query)

# Fetch the result
number_of_bookings = cursor.fetchone()[0]

print(f"Number of booking entries in the Bookings table: {number_of_bookings}")

# Close the connection
conn.close()

Number of booking entries in the Bookings table: 0